<!DOCTYPE html>
<html lang="fr">
<%- include("includes/head") %>
<body>
	<%- include("includes/navbar") %>
	<%- include("includes/spacer") %>
	<h1><%= title %></h1>
	<%- include("includes/spacer", { size: "sm" }) %>
	<h2>Allo le monde</h2>
</body>
</html>