<!DOCTYPE html>
<html lang="fr">
<head>
	<%- include("includes/headContent") %>
</head>
<body>
	<%- include("includes/navbar") %>
	<%- include("includes/spacer") %>
	<h1><%= title %></h1>
	<%- include("includes/spacer", { size: "sm" }) %>
	<h2>Form ici bientôt</h2>
</body>
</html>