<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include("includes/headContent") %>
	</head>
	<body>
		<%- include("includes/navbar") %>
		<%- include("includes/spacer") %>
		<h1><%= title %></h1>
		<%- include("includes/spacer") %>
		<form class="form" method="POST" action="/new">
			<label class="form-field">
				<span class="form-field__label">Votre nom</span>
				<input name="name" required class="form-field__input" />
			</label>
			<label class="form-field">
				<span class="form-field__label">Votre texte</span>
				<textarea
					name="text"
					required
					class="form-field__input"
					rows="5"
				></textarea>
			</label>
			<input class="button" type="submit" value="Envoyer" />
		</form>
	</body>
</html>
