<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include("includes/headContent") %>
	</head>
	<body>
		<%- include("includes/navbar") %>
		<h1><%= title %></h1>
		<%- include("includes/spacer", { size: "md" }) %>

		<div class="form">
			<label class="form-field">
				<span class="form-field__label">Couleur du site</span>
				<input
					type="range"
					id="input-site-color"
					name="site-color"
					class="form-field__input"
					value="<%= cookieHue %>"
					min="0" 
					max="360"
					step="10" 
					onchange="handleChange()"
					oninput="handleInput()"
				>
			</label>
		</div>
		<%- include("includes/scripts") %>
		<script>
			function handleInput() {
				const rootEl = document.querySelector(":root")
				const rootElStyle = getComputedStyle(rootEl)
				const cssColPrimary = rootElStyle.getPropertyValue("--col-primary")
				rootEl.style.setProperty("--col-primary", `oklch(from ${cssColPrimary} l c ${event.target.value})`)
			}
			
			async function handleChange() {
				document.cookie = `hue=${event.target.value}`

				const response = await fetch("/change-hue", {
					method: "POST",
					body: JSON.stringify({ newHue: parseInt(event.target.value) }),
					headers: {
						"Content-Type": "application/json"
					},
				})
			}
		</script>
	</body>
</html>